-#base

.col-lg-12
  %h2
    {{base.title || 'Angular bpmn'}}

.col-lg-9.page(app-view-segment="1")

.col-lg-3.page#main-menu
  %h3
    menu
  %ul
    %li(ng-repeat="link in base.menu")
      %a(ng-if="!(link.path | routeSegmentStartsWith)" ng-href="{{ link.path | routeSegmentUrl }}" ng-class="{active: (link.path | routeSegmentStartsWith)}" ng-bind="link.name")
      %span(ng-if="(link.path | routeSegmentStartsWith)" ng-bind="link.name")

-#base