-#update_scheme_data

%h3
  Update scheme data

%div#scheme.scheme(style="height:300px;")

-#buttons
%button.btn.btn-default.btn-sm(href="" ng-click="setState('scheme1')" type="button")
  scheme 1
%button.btn.btn-default.btn-sm(href="" ng-click="setState('scheme2')" type="button")
  scheme 2
%button.btn.btn-default.btn-sm(href="" ng-click="setState('scheme3')" type="button")
  scheme 3
%button.btn.btn-default.btn-sm(href="" ng-click="setState('clear')" type="button")
  clear

-#update_scheme_data